h1 {
    font-size: 40px;
    font-weight: bold;
}
h2 {
    font-size: 32px;
    font-weight: bold;
}
h3 {
    font-size: 26px;
    font-weight: bold;
}
h4 {
    font-size: 26px;
    font-weight: lighter;
}
h5 {
    font-size: 22px;
    font-weight: bold;
}
body {
    font-size: 202px;
    font-family: sans-serif;
    max-width: 1200px;
    padding: 40px 30px;
    margin: auto;
}

.title {
    text-align: center;
    background: rgb(255,1,0);
}

.objectives {
    display: inline-block;
}

.centerboxed3 {
    background: gray;
    width: 200px;

}
