h1 {
    font-size: 40px;
    font-weight: bold;
}
h2 {
    font-size: 32px;
    font-weight: bold;
}
h3 {
    font-size: 26px;
    font-weight: bold;
}
h4 {
    font-size: 26px;
    font-weight: lighter;
}
h5 {
    font-size: 22px;
    font-weight: bold;
}
body {
    font-size: 20px;
    font-family: sans-serif;
    max-width: 1200px;
    padding: 40px 30px;
    margin: auto;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(255,1,0);
}

.title div{
    background-color: #f1f1f1;
    width: 650px;
    text-align: center;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: DodgerBlue;
}

.flex-container div{
    background-color: #f1f1f1;
    width: 300px;
    padding: 20px;
    margin: 10px 30px;
    border-radius: 10px;
}


.centeredcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: purple;
}

.centeredcontent div{
    background-color: #f1f1f1;
    width: 600px;
    text-align: center;
    padding: 20px;
    margin: 10px 30px;
    border-radius: 10px;
}

.centeredcontent img{
    width: 100%;
    height: auto;
}


.full {
    display: flex;
    height: 200px;
    background: purple;
    justify-content: center;
}

.half {
    display: flex;
    height: 200px;
}
    
.rightside {
    flex: 1;
    background: lightblue;
    justify-content: center;
}

.leftside {
    flex: 1;
    background: lightgreen;
    justify-content: center;
}


.lefttext {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: green;
}

.lefttext div{
    background-color: #f1f1f1;
    width: 600px;
    text-align: left;
    padding: 20px;
    margin: 10px 30px;
    border-radius: 10px;
}




.section {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: 10rem auto 0 auto;}
.section img {
    display: flex;
    width: 100%;
    height: auto;
    }
.section h3{
    margin: 0;
    color: yellow;}
.section p{
    margin: 0;
    color: white;}