body {margin: 0;}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
@media(min-width:768px){
}




#parent {
    margin: auto;
    width: 85%;
    background: yellow;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}
h2 {
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}
h3 {
    font-size: 26px;
    font-weight: bold;
}
h4 {
    font-size: 26px;
    font-weight: lighter;
}
h5 {
    font-size: 22px;
    font-weight: bold;
}
body {
    font-size: 20px;
    font-family: sans-serif;
    padding: 40px 30px;
    margin: auto;
}



.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(255,1,0);
}
.title div{
    background-color: #f1f1f1;
    width: 600px;
    text-align: center;
}
.title img{
    width: 100%;
    height: auto;
}



.smoosh-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
}
.smoosh-container div{
    background-color: #f1f1f1;
    width: 300px;
    margin: 10px 30px;
}
.smoosh-container img{
    width: 100%;
    height: auto;
}



.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 175, 4);
}
.flex-container div{
    background-color: #f1f1f1;
    width: 300px;
    padding: 20px;
    margin: 10px 30px;
    border-radius: 10px;
}





.centeredcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: purple;
}
.centeredcontent div{
    background-color: #f1f1f1;
    width: 600px;
    text-align: center;
    padding: 20px;
    margin: 10px 30px;
    border-radius: 10px;
}
.centeredcontent img{
    width: 100%;
    height: auto;
}


.centeredmockups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: tan;
}
.centeredmockups div{
    background-color: #f1f1f1;
    width: 600px;
    text-align: center;
    margin: 10px 30px;
}
.centeredmockups img{
    width: 100%;
    height: auto;
}



.full {
    display: flex;
    height: 200px;
    background: purple;
    justify-content: center;
}

.half {
    display: flex;
    height: 300px;
}   
.rightside {
    flex: 1;
    background: lightblue;
    text-align: center;
    padding: 80px 0;
}
.leftside {
    flex: 1;
    background: lightgreen;
    text-align: center;
    padding: 80px 0;
}


.lefttext {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: green;
}
.lefttext div{
    background-color: #f1f1f1;
    width: 600px;
    text-align: left;
    margin: 0;
}





.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(244, 0, 179);
}
.section div{
    background-color: #f1f1f1;
    width: 300px;
    padding: 20px;
    margin: 10px 30px;
    border-radius: 10px;
}
.section img{
    width: 100%;
    height: auto;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
  }
  .footer{
     background: #222222;
     padding: 50px;
  }
  .footer .footer_menu{
    display: flex;
    justify-content: space-between;
  }
  .footer .footer_menu .titled{
    margin-bottom: 10px;
    color: #adadad;
  }
  .footer .footer_menu ul li a{
    display: block;
    color: #fff;
  }
  .bywho p{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 40px;
  }
  .footer .footer_menu ul li a:hover{
    text-decoration: underline;
  }
  @media (max-width:768px) {
    .navbar{
      font-size: 20px;
    }
    .footer .footer_menu{
      flex-direction: column;
      width: 220px;
      margin: 0 auto 25px;
    }
    .footer .footer_menu div{
      margin: 10px 0;
    }
    .footer ul li a{
      margin: 5px;
    }
  }